.wrapper .welcome-container {
	display: flex;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	background-color: rgb(255, 255, 255);
}

.room-list.active {
	display: block;
	height: 500px;
	width: 300px;
	border: solid red 1px;
}
.room-list {
	display: none;
}
.room-list.active > ul > li {
	cursor: pointer;
	color: blue;
	list-style-type: none;
	margin-top: 5px;
}
.room-list.active > ul > li:hover {
	text-decoration: underline;
	color: rgb(253, 230, 100);
}

.wrapper .welcome-container .text-banner-container {
	width: 100vw;
	display: flex;
	position: fixed;
	top: 35%;
	display: block;
}
.wrapper .welcome-container .lower-container {
	top: 48%;
	transform: skew(30deg);
}

.wrapper .welcome-container .upper-container {
	top: 40.5%;
	transform: skew(30deg);
}

.wrapper .welcome-container .text-banner-container .text-container {
	font-family: "StepsMonoRegular", Arial, Helvetica, sans-serif;
	font-weight: nomral;
	font-style: normal;
	font-size: 75px;
	cursor: default;
	/* text-shadow: -5px 5px #b494ee; */
}

.wrapper .welcome-container .text-banner-container .text-container span {
	white-space: nowrap;
}
