.wrapper .logo-container {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 20px;
	margin-bottom: 20px;
	display: flex;
}

.wrapper .logo-container .join-options-container {
	height: 55px;
	margin-right: 10px;
	display: none;
	flex-direction: column;
	justify-content: space-between;
}

.wrapper .logo-container .join-options-container.active {
	display: flex;
}
.wrapper .logo-container .join-options {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 120px;
	font-family: "Steps-Mono";
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 14px;
	text-align: center;
	letter-spacing: 0.19em;
	color: #ffffff;
	height: 20px;
	background-color: #656bff;
	box-shadow: 1px 1px 0px rgba(10, 5, 28, 0.38);
	cursor: pointer;
}

.wrapper .logo-container .join-options:hover {
	background-color: #4d2ddb;
}
.wrapper .logo-container img {
	position: relative;
	box-shadow: 1px 1px 0px rgba(10, 5, 28, 0.38);
	cursor: pointer;
}
.wrapper .logo-container img:hover {
	box-shadow: 0px 2px 0px #4d2ddb;
	position: relative;
	top: 4px;
}
