.wrapper .room-container .settings-buttons {
	position: absolute;
	left: 12px;
	top: 12px;
	width: 164px;
	height: 25px;
	display: flex;
	justify-content: space-evenly;
	background-color: white;
	box-shadow: 5px 5px black;
}

.wrapper .room-container .settings-buttons .settings-button {
	border: solid black 1px;
	width: auto;
	flex: 1;
	display: flex;
	flex-wrap: column;
	justify-content: center;
	padding: 2px;
	cursor: pointer;
	position: relative;
	background-color: white;
	top: 0;
	left: 0;
	transition: top 0.2s, left 0.2s;
}

.wrapper .room-container .settings-buttons .settings-button.audio-active {
	box-shadow: none;
	top: 5px;
	left: 5px;
	background-color: rgb(219, 243, 215);
}

.wrapper .room-container .settings-buttons .settings-button.recording-active {
	box-shadow: none;
	top: 5px;
	left: 5px;
	background-color: rgb(243, 199, 199);
}
.wrapper .room-container .settings-buttons .settings-button.converging-active {
	box-shadow: none;
	top: 5px;
	left: 5px;
	background-color: #bcbdeb;
}
